numpy
pandas
matplotlib
seaborn
streamlit==1.28.1
watchdog
streamlit-on-Hover-tabs
datetime
# time
# requests
# os
python-dotenv
streamlit-authenticator==0.2.3
pyyaml
st_pages
streamlit_extras
# azure-identity
mysql-connector
mysqlclient
sqlalchemy
# mysql-python
# path
msal_streamlit_authentication
msal
# selenium
boto3
path
prefect
# json
altair
boto3
botocore
tuya-connector-python
pymysql
tenacity
