numpy
pandas
matplotlib
seaborn
streamlit
watchdog
streamlit-on-Hover-tabs
datetime
# time
# requests
os
python-dotenv
streamlit-authenticator
pyyaml
st_pages
streamlit_extras
# azure-identity
mysql.connector
sqlalchemy
# path
# msal_streamlit_authentication
# selenium
boto3
path
