
/* section[data-testid='stSidebar'] > div:nth-of-type(1) {
    background-color: #111;
}
*/

/* Replaced the previous with the following to remove the empty space between main screen and hoover menu */

section[data-testid='stSidebar']{

    background-color: #c4ede3;
    min-width:unset !important;
    max-width: unset !important; /*<--- This part is optional.*/
    width: unset !important;
    flex-shrink: unset !important; /*<--- This part is optional.*/
}

/* Not sure what the next one does, I have commented it to check and nothing changes */
/*
button[kind="header"] {
    background-color: transparent;
    color:rgb(180, 167, 141)
}
*/

@media(hover){
    /* header element to be removed */
    header[data-testid="stHeader"] {
        display:outside;
    } /* change "outside" to "none" to remove the upper-right Streamlit menu /*

    /* The navigation menu specs and size */
    section[data-testid='stSidebar'] > div {
        height: 100%;
        width: 75px;
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #c4ede3;
        overflow-x: hidden;
        transition: 0.3s ease;
        padding-top: 60px;
        white-space: nowrap;
    }

    /* The navigation menu open and close on hover and size */
    /* section[data-testid='stSidebar'] > div {
    height: 100%;
    width: 75px; /* Put some width to hover on. */
    /* } 

    /* ON HOVER Defines hot the side bar hovers*/ 
    section[data-testid='stSidebar'] > div:hover{
    width: 300px;
    transition: 0.3s ergb(29, 10, 10);
    }

    /* The button on the streamlit navigation menu - hidden */
    button[kind="header"] {
        display: none;
        transition: 0.3s ergb(29, 10, 10);
    }
}
     
/*
@media(max-width: 272px){
    
    section[data-testid='stSidebar'] > div {
        width:15rem;
    }
}
*/

/* Replacem Streamlit footer with another one */

footer {
	
	visibility: hidden;
	
	}
footer:after {
	content:'Copyright © 2023 Moveam Todos los derechos reservados ©';
	visibility: visible;
	display: block;
	position: relative;
	background-color: rgb(255, 255, 255);
	padding: 5px;
	top: 2px;
}
